/* stylelint-disable comment-empty-line-before */
$fontFamilyGlobal: var(--wp--preset--font-family--global);
$fontFamilyHeadings: var(--wp--preset--font-family--headings);
$fontFamilyHeadingsSans: var(--wp--preset--font-family--headings-sans);
$fontFamilyForms: var(--wp--preset--font-family--headings-sans);

$global: var(--wp--preset--color--contrast);
$primary: var(--wp--preset--color--primary); /**  green **/
$primaryDark: var(--wp--preset--color--primary-dark); /**  dark green **/
$primaryLight: var(--wp--preset--color--primary-light); /** light green **/
$secondary: var(--wp--preset--color--secondary); /** blue **/
$accent1: var(--wp--preset--color--accent); /** orange */
$accent2: var(--wp--preset--color--accent-2); /** gold */
$accent3: var(--wp--preset--color--accent);
$background: var(--wp--preset--color--white);

$gray100: var(--wp--preset--color--gray-100);
$gray200: var(--wp--preset--color--gray-200);
$gray400: var(--wp--preset--color--gray-400);
$gray800: var(--wp--preset--color--gray-800);

$colorHeadings: var(--wp--preset--color--primary);

$btnBackground:  var(--wp--preset--color--accent);
$btnBorder: 1px solid var(--wp--preset--color--accent);
$btnText: #fff;
$btnFont: var(--wp--preset--font-family--headings);
$btnFontWeight: 900;
$btnFontSize: var(--font-size-button);
$btnBorderHover: 1px solid var(--wp--preset--color--accent-2);
$btnBackgroundHover: var(--wp--preset--color--accent-2);
$btnBackgroundActive:  var(--wp--preset--color--accent-2);
$btnTextHover: #fff;
$btnTextActive:  #fff;
$btnBorderRadius: 0;

$menuFontSize: var(--font-size-nav);
$menuFontWeight: 600;

$pageHeaderBackgroundColor: var(--wp--preset--gradient--green-light-to-dark);
$pageHeaderColor: var(--wp--preset--color--white);

$btnAltBackground: var(--wp--preset--color--secondary);
$btnAltBorder: 1px solid var(--wp--preset--color--secondary);
$btnAltText: var(--wp--preset--color--white);
$btnAltBackgroundHover:  var(--wp--preset--color--primary);
$btnAltBorderHover: 1px solid var(--wp--preset--color--primary);
$btnAltBackgroundActive:  var(--wp--preset--color--primary);
$btnAltTextHover:  var(--wp--preset--color--white);
$btnAltTextActive:  var(--wp--preset--color--white);

$headerBackground: var(--wp--preset--color--white);

$colorBorders: var(--wp--preset--color--gray-300);
$colorBordersDark: var(--wp--preset--color--gray-800);
$colorSeparator: var(--wp--preset--color--gray-300);

$colorLink: var(--wp--preset--color--secondary);
$colorLinkHover: var(--wp--preset--color--secondary-dark);

$colorNavBackground: var(--wp--preset--color--base);
$colorNavLinkMobile: var(--wp--preset--color--secondary);
$colorNavBackgroundMobile: var(--wp--preset--color--base);
$colorNavLinkHoverMobile: var(--wp--preset--color--secondary-dark);
$colorNavLinkActiveMobile: var(--wp--preset--color--secondary-dark);
$colorNavLinkHoverBG: var(--wp--preset--color--base);

$colorNavLink: var(--wp--preset--color--secondary);
$colorNavLinkHover: var(--wp--preset--color--secondary-dark);


$colorSubNavBackground: var(--wp--preset--color--base);
$colorSubNavLink: var(--wp--preset--color--secondary);
$colorSubNavLinkHoverBG: var(--wp--preset--color--base);
$colorSubNavLinkHover: var(--wp--preset--color--secondary-dark);

$colorSubNavLinkMobile: var(--wp--preset--color--secondary);

$hamburgerColor: var(--wp--preset--color--primary-dark);
$searchIconBGColor: var(--wp--preset--color--base);
$searchIconBorder: 1px solid var(--wp--preset--color--secondary);
$searchIconBorder2x: 2px solid var(--wp--preset--color--secondary);
$searchIconBorderHover: var(--wp--preset--color--contrast);
$searchIconBGColorHover: transparent;
$formsFont: var(--form-field-font-family);
$formsColor: var(--wp--preset--color--gray-800);

$white: var(--wp--preset--color--white);
$black: var(--wp--preset--color--contrast);
$blue: var(--wp--preset--color--primary);
$yellow: var(--wp--preset--color--accent-2);
$primary-extra-light: var(--wp--preset--color--gray-100);

$spacingDefault: var(--wp--preset--spacing--70);
$spacingSmall: var(--wp--preset--spacing--50);
$spacingLarge: var(--wp--preset--spacing--80);

$2xsmall:var(--wp--preset--font-size--tiny);
$xsmall: var(--wp--preset--font-size--extra-small);
$small: var(--wp--preset--font-size--small);
$medium: var(--wp--preset--font-size--medium);
$large: var(--wp--preset--font-size--large);
$xlarge: var(--wp--preset--font-size--extra-large);
$2xlarge: var(--wp--preset--font-size--gigantic);
