.page-header-event {
	max-width: var(--content-width);
	margin: var(--wp--preset--spacing--50) auto;
	& h1 {
		margin-top: 0;
	}
	& .entry-parent-link {
		color: $primary;
	}
	& .event-header {
		display: flex;
		flex-direction: column-reverse;
		gap: var(--wp--preset--spacing--30);
		@media (--tablet-small-up) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
	& .event-details {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--40);
		flex-grow: 1;
		& p {
			margin: 0;
		}
	}
	& .event-location {
		& strong {
			font-weight: 600;
		}
	}
	& .event-meta {
		font-size: 1.3125rem;
	}
	& .event-meta-label {
		font-weight: var(--font-weight--bold);
		color: $primary;
	}

	& .event-cta {

		& a {
			display: inline-block;

		}
	}
	& .event-shift {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);

		& .button {
			max-width: 125px;
		}
	}
	& .full-shift-note {
		font-size: 0.875rem;
		color: $gray800;
		font-style: italic;
	}

	& .post-thumbnail img {
		width: 100%;
		height: auto;
		object-fit: cover;
		aspect-ratio: 1.4;
	}
}

.carkeek-event-label {
	font-weight: var(--font-weight--bold);
	color: $primary;
}


.carkeek-event-card__slot {
	line-height: 1.35;
}

.carkeek-events-archive.is-grid {
	gap: 2rem;
	& img {
		object-fit: cover;
		width: 100%;
		aspect-ratio: 4 / 3;
		height: auto;
	}
	& .carkeek-event-card {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--20);
	}
}

.single-carkeek_event {
	.wp-element-button {
		background-color: $accent1;
		color: #fff;
		border: 2px solid $accent1;
		&:hover {
			background-color: #fff;
			color: $accent1;
			border: 2px solid $accent1;
			text-decoration: none;
		}
	}
}

.wp-block-volunteer-event-management-event-registration {
	& .event-meta {
		font-family: var(--wp--preset--font-family--headings-sans);
		border-bottom: 1px solid $colorBorders;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		& a {
			font-size: var(--font-size-h4);
			font-weight: var(--font-weight--bold);
		}
	}
}
