.footer-main {
	& .footer-donate {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

@media (--two-column-break-point-down) {
	.footer-main {
		.footer-columns {
			display: grid;
			grid-template-areas: 
				"logo donate"
				"main main";
			& > .footer-logo {
				grid-area: logo;
			}
			& > .footer-donate {
				grid-area: donate;	
			}
			& > .footer-content {
				grid-area: main;
			}
		}
	}
}