.gform_required_legend {
	display: none;
}

.page .gform_wrapper.gravity-theme {
	& .gform_fields {
		grid-row-gap: 1.5rem;
	}
	& .ginput_complex label,
	& .gfield_label {
		font-size: 1.125rem;
		font-weight: var(--font-weight--light);
	}
	& .gfield_checkbox,
	& .gfield_radio {
		& label {
			font-size: 1.125rem;
		}
	}
	& select {
		padding: var(--padding-button) !important;
	}
	& .gsection {
		border: none;
	}
	& .gfield_required {
		font-size: 1rem;
		color: var(--color-error);
	}
	& .ginput_container_consent,
	& .gchoice {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	& .gfield-choice-input {
		display: grid;
	}

	/** Show the asterisk on sub labels, hide the default
		unless .show-required is added to the field **/
	& .gfield_contains_required {
		& .gform-field-label--type-sub {
			&::after {
				content: " *";
				font-size: 1rem;
				color: var(--color-error);
			}
		}
		&:not(.show-required) {
			& .gfield_label_before_complex {
				& .gfield_required {
					display: none;
				}
			}
		}
		&.gfield--type-choice {
			& .gfield_required {
				display: inline-block !important;
			}
		}
	}
	& .gfield:not(.gfield--input-type-checkbox) {
		& .gfield_label_before_complex {
			font-size: var(--font-size-h4);
			font-weight: 600;
			margin-top: 1rem;

		}
	}

	& .gsection_title {
		font-size: var(--font-size-h4);
		font-weight: 600;
		color: $global;
		margin-bottom: 0;
	}
}


@media only screen and (max-width: 641px) {
	.gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
		line-height: 1;
		min-height: 32px;
	}
}

.gform_wrapper.gravity-theme .field_description_above .description, .gform_wrapper.gravity-theme .field_description_above .gfield_description, .gform_wrapper.gravity-theme .field_description_above .gsection_description, .gform_wrapper.gravity-theme .field_description_above .instruction {
	margin-top: 0;
	padding: 0;
}
