@media (--mobile-only) {

	.center-mobile {
		display: flex;
		justify-content: center;
	}

	.hidden-mobile {
		display: none;
	}
}

@media (--tablet-up) {

	.hidden-tablet-up {
		display: none;
	}

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}
}

.is-style-footnotes {
	font-size: var(--wp--preset--font-size--small);
	font-style: italic;
	text-align: center;
}
ol.is-style-footnotes,
ul.is-style-footnotes {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	list-style-position: inside;

}

.edit-link {
	font-size: 12px;
	font-weight: 400;
	&.hide-frontend {
		display: none;
	}
}