.page-content {
	& > :first-child:not(.has-background) {
		margin-top: $spacingDefault;
	}

	& > * {
		margin-right: auto;
		margin-left: auto;
		max-width: var(--wp--style--global--content-size);

		&.alignwide,
		&.woocommerce[class*="columns-"] {
			max-width: var(--wp--style--global--wide-size);
		}

		&.alignfull {

			max-width: none;
		}

	}
	& li {
		margin-bottom: 0.3rem;

		& ul,
		& ol {
			margin-top: 0.3rem;
		}
	}
	& > .list-inline {
		margin-right: auto;
		margin-left: auto;
		max-width: var(--wp--style--global--content-size);
	}
	& > [class*="wp-block"] {
		margin-bottom: var(--wp--preset--spacing--40);
	}
	& > .wp-block-separator,
	& > .wp-block-group,
	& > .wp-block-cover,
	& > .wp-block-media-text,
	& > .wp-block-quote,
	& > .wp-block-columns {
		margin-bottom: $spacingDefault;


		&.has-background:last-child {
			margin-bottom: 0;
		}
		& ul, ol {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	& > .wp-block-cover:last-child {
		margin-bottom: 0;
	}

	& > .wp-block-image {
		margin-bottom: var(--wp--preset--spacing--30);
	}

	& > .wp-block-heading {
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--50);

	}
	& > .wp-block-media-text.has-background,
	& .wp-block-cover.alignfull,
	& > .has-background.alignfull {
		& + .wp-block-media-text.has-background,
		& + .wp-block-cover.alignfull,
		& + .has-background.alignfull {
			margin-top: calc(-1 * var(--wp--preset--spacing--70));
		}
	}
}

.alignfull.has-background {
	padding-top: var(--wp--preset--spacing--70);
	padding-bottom: var(--wp--preset--spacing--70);
}
.home .page-content > [class*="wp-block-"]:first-child {
	margin-top: 0;
}

:where(.wp-block-group.has-background) {
	padding: $spacingDefault var(--gutter-width-page-wide);
}

.alignfull.has-background + .alignfull.has-background {
	margin-top: calc(-1 * var(--wp--preset--spacing--70));
}
.carkeek-events-archive-block.alignfull {
	& > * {
		max-width: var(--wp--style--global--content-size);
		margin-left: auto;
		margin-right: auto;
	}
}


.single-entry.page-content {
	& > :first-child {
		margin-top: 0;
	}
}

@media (--tablet-up) {

	.page-content > {

		& h1,
		& h2,
		& h3,
		& p,
		& h4,
		& h5,
		& h6 {

			& + .wp-block-image {
				margin-top: var(--wp--preset--spacing--xsmall);
			}
		}
	}
}

.image-caption {
	font-size: var(--font-size-caption);
	color: #fff;
	font-weight: var(--font-weight-light);
	font-style: italic;
}

.post-thumbnail {

	& .image-caption {
		padding: 0.25rem;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)), :where(.wp-block-navigation.has-background .wp-block-navigation-submenu a:not(.wp-element-button)) {
	padding: var(--padding-button);
	line-height: 1.25;
}
