.impact-stat {
	& svg {
		color: var(--wp--preset--color--primary-dark);
	}
	&--stat {
		color: var(--wp--preset--color--primary);
	}
}


.has-primary-background-color,
.has-secondary-background-color,
.has-accent-background-color,
.has-tint-dark-background-color,
.has-green-light-to-dark-gradient-background,
.has-contrast-background-color {
	color: $white;
	& svg,
	& .impact-stat--stat,
	& .wp-block-button.is-style-arrow-link .wp-block-button__link,
	& :--heading:not(.has-text-color),
	& a,
	& a:hover,
	& a:visited {
		color: $white;
	}
}

.has-primary-light-background-color {
	color: var(--wp--preset--color--primary-dark);
	& svg,
	& .impact-stat--stat,
	& .wp-block-button.is-style-arrow-link .wp-block-button__link,
	& :--heading:not(.has-text-color),
	& a,
	& a:hover,
	& a:visited {
		color: var(--wp--preset--color--primary-dark);
	}
}

.cks-expand-button {
	border: none;
	background: transparent;
	font-family: var(--wp--preset--font-family--headings-sans);
	color: var(--wp--preset--color--grey);
	text-transform: uppercase;
	font-weight: 900;
	padding: 0;
	margin-top: var(--wp--preset--spacing--30);
	&:hover {
		color: var(--wp--preset--color--accent);
		cursor: pointer;
		background: transparent;
	}
}


ul.ck-blocks-gallery-grid.fixed-images li.ck-blocks-gallery-grid-item img {
	max-height: 800px;
}


.wp-block-carkeek-blocks-widget-row[class*=is-style-border-] .ck-columns__wrap > * {
	--ck-column-gap: 5rem;
	--ck-column-gap-vert: 5rem;
	border-color: $primary;
	position: relative;
}
@media (--tablet-small-up) {
	.wp-block-carkeek-blocks-widget-row[class*=is-style-border-] .ck-columns__wrap > * {
		--ck-column-gap-vert: 2.5rem;

		&::before {
			content: "";
			position: absolute;
			top: calc(-1 * (var(--ck-column-gap-vert) / 2));
			left: 0;
			width: calc(100% - var(--ck-column-gap-vert)/2);
			border-top: 1px solid $primary;
		}
		&:first-child,
		&:nth-child(2) {
			&::before {
				content: none;
			}
		}
		&:nth-child(2n) {
			&::before {
				left: auto;
				right: 0;
			}
		}
	}
}


.carkeek-archive.is-grid {
	--modal-header-padding: 0;
	& .ck-modal-item-name,
	& .ck-custom-archive-title_link {
		color: var(--wp--preset--color--primary);
		font-family: var(--wp--preset--font-family--headings);
		font-weight: 700;
		font-size: var(--font-size-h4);
	}

	& .ck-modal-item-image:hover {
		text-decoration: none;
		& .ck-custom-archive-title_link {
			text-decoration: underline;
		}
	}
	& .ck-custom-archive-title_link:hover {
		text-decoration: none;
		& .ck-custom-archive-title {
			text-decoration: underline;
		}
	}

	&.post-type-people {
		& .ck-custom-archive-item-meta-before-excerpt {
			color: $global;
			font-weight: 400;
			text-decoration: none;
		}

	}


	& .ck-custom-archive-excerpt {
		font-size: 1.1875rem;
	}
	& h3 {
		font-size: var(--font-size-h4);
		margin-top: 0;
		margin-bottom: 0;
	}
	&.board-members {
		text-align: center;

	}
	& .modal__content {
		max-width: 600px;
	}
	& .modal__close-btn--inner {
		color: $primary;
		background-color: transparent;
		border-radius: 0;
		&:hover {
			background-color: $primary;
			color: #fff;
		}
	}
	& .modal-body {
		padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);
		& img {
			width: 100%;
			height: auto;
			aspect-ratio: 1.3;
			object-fit: cover;
		}
		& .ck-modal-item-name {
			font-family: var(--wp--preset--font-family--headings);
			font-weight: 700;
			font-size: var(--font-size-h4);
			color: $primary;
			margin: 0;

		}
	}
	& .modal-footer {
		display: none;
	}
}

.carkeek-archive.aligncenter {
	& .ck-columns__item {
		text-align: center;
	}
}

.ck-custom-archive-item-meta-before-excerpt-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.3rem;
}

.wp-block-carkeek-blocks-extended-gallery {
	--slide-gutter: var(--wp--preset--spacing--20);
}

.home .wp-block-carkeek-blocks-extended-gallery {
	--slide-gutter: 0;
}


.carkeek-archive.is-fit {
	& a.ck-custom-archive-title_link:hover {
		text-decoration: none;
	}
}

.carkeek-archive {
	& .ck-custom-archive-title_link {
		margin: 0;
		font-size: var(--font-size-h4);
		font-family: var(--wp--preset--font-family--headings);
		line-height: 1.125;
		color: $primary;
		font-weight: 700;
	}
	& .ck-custom-archive-title-header {
		line-height: 1;
		& .ck-custom-archive-title_link {
			font-size: var(--font-size-h3);
		}
	}
}

.wp-block-carkeek-blocks-custom-archive.is-ul {
	& .ck-custom-archive-list-item {
		margin-bottom: 1rem;
	}
}

.wp-block-carkeek-blocks-custom-archive.is-list {
	& .ck-columns-item {
		& .ck-custom-archive-title-header {
			margin-bottom: 0;
		}
		& .ck-custom-archive-title_link {
			line-height: 1.125;
		}
		& .entry-parent-link {
			color: var(--wp--preset--color--primary);
		}
		& .ck-custom-archive-item-date {
			font-family: var(--wp--preset--font-family--headings-sans);
			margin-bottom: 1rem;
			display: block;
		}

	}
	& .ck-custom-archive__content-wrap {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	&.is-style-borders.alignfull {
		& .ck-custom-archive__list {
			max-width: none;
		}
		& .ck-columns-item {
			padding-left: var(--gutter-width-page);
			padding-right: var(--gutter-width-page);
			padding-bottom: var(--wp--preset--spacing--70);
			margin-bottom: var(--wp--preset--spacing--70);
		}
	}
}
.wp-block-carkeek-blocks-custom-archive.is-list.is-style-borders {
	border-top: 2px solid var(--color-border);
	& .ck-columns-item {
		border-bottom: 2px solid var(--color-border);
		&:last-child {
			border-bottom: none;
		}
	}
}
@media (--tablet-up) {
	.wp-block-carkeek-blocks-custom-archive.is-list {
		& .ck-columns-item {
			flex-direction: row-reverse;
			gap: var(--wp--preset--spacing--40);
			align-items: center;
			&:nth-child(even) {
				flex-direction: row;
			}
		}
		& .ck-custom-archive__content-wrap {
			gap: 1rem;
		}
		& .ck-custom-archive-image-link {
			margin: 0;
		}
	}
	.carkeek-archive.is-fit .ck-custom-archive__list:has(:nth-last-child(n + 3)) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (--desktop-up) {
	.wp-block-carkeek-blocks-custom-archive.is-list {
		& .ck-custom-archive-image-link {
			flex: 1 1 52.5%;
		}
		& .ck-custom-archive__content-wrap {
			flex: 1 1 47.5%;
		}
	}
}

.carkeek-events-archive {
	& .carkeek-event-card__content {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
	}
	& .carkeek-event-card__slot {
		&--date {
			font-family: var(--wp--preset--font-family--headings);
			font-weight: 700;
			font-size: var(--font-size-h3);
			color: $primary;
		}
		&--title {
			font-family: var(--wp--preset--font-family--headings-sans);
			font-weight: 600;
			font-size: var(--font-size-h4);
			color: $accent1;
			& a {
				font-weight: 600;
			}
		}
	}
	& .ck-event-block-featured {
		font-family: var(--wp--preset--font-family--headings-sans);
		font-weight: 800;
		font-size: 1.125rem;
		text-transform: uppercase;
	}
}

.wp-block-carkeek-events-archive.has-secondary-background-color {
	& .carkeek-event-card__slot {
		&--date {
			color: $white;
		}
	}
}

.carkeek-events-archive__list.is-list {
	& .carkeek-event-card {
		display: flex;
		@media (--tablet-up) {
			flex-direction: row-reverse;
		}
	}
}

.ck-custom-archive__load-more-wrap {
	margin-bottom: var(--wp--preset--spacing--50) !important;


}

.wp-block-carkeek-blocks-accordion {
	& .accordion__heading {
		border-top: 1px solid var(--color-border);
		font-family: var(--wp--preset--font-family--headings);
		font-weight: 700;
		font-size: var(--font-size-h4);
		color: $primary;
	}
	& .accordion__trigger {
		font-weight: inherit;
	}
}

.ck-archive-tax-header {
	font-family: var(--wp--preset--font-family--headings);
	font-weight: 800;
	font-size: var(--font-size-h3);
	color: $primary;
	margin-bottom: var(--wp--preset--spacing--40);
}

.wp-block-carkeek-blocks-custom-archive.is-style-table {
	& .ck-columns-item {
		border-top: 1px solid var(--color-border);
		padding-top: var(--wp--preset--spacing--20);
		padding-bottom: var(--wp--preset--spacing--30);
		margin: 0;
		& .ck-custom-archive-title_link {
			font-family: var(--wp--preset--font-family--global);
			font-size: var(--wp--preset--font-size--base);
			color: $colorLink;
			&:hover {
				text-decoration: underline;
			}
		}
		& .ck-custom-archive__content-wrap {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		@media (--tablet-up) {
			& .ck-custom-archive-image-link {
				margin: 0;
			}
			& .ck-custom-archive__content-wrap {
				flex-direction: row;
				gap: var(--wp--preset--spacing--30);
				& > * {
					flex: 1 1 50%;
				}
			}
		}
	}
}
