@import "_custom-media.css";
@import "_custom-vars.css";
@import "_custom-properties.css";
@import "_fonts.css";
@import "_reset.css";
@import "_forms.css";
@import "_global-styles.css";
@import "_typography.css";
@import "_theme-styles.css";
@import "_helper-styles.css";
@import "_elements.css";
@import "_footer.css";
@import "_page.css";
@import "_single.css";
@import "_woocommerce.css";
@import "../../blocks/src/media-text.css";




.block-editor-block-list__layout.is-root-container > [class*="wp-block"] {
	padding-left: 24px;
	padding-right: 24px;
}

.block-editor-block-list__layout.is-root-container > [data-align="right"],
.block-editor-block-list__layout.is-root-container > [data-align="left"] {
	width: 50%;
}


.hidden-front-end {
	display: block;
	background-color: $gray100;
}

.wp-block-cover.is-style-page-header {
	padding: 16px !important;

	& h1 {
		margin-bottom: 32px !important;
	}
}

.page-header-columns {

	& .wp-block-carkeek-blocks-featured-image {

		& img {
			z-index: 0;
		}
	}
}

.is-layout-flow > * + * {
	margin-block-start: var(--wp--preset--spacing--30);
}
figure.alignright,
figure.alignleft {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
