upgrade/
uploads/
plugins/*
mu-plugins/*


.DS_Store
.thumbsdb

themes/*
themes/*/node_modules/
themes/*/bower_components/


!themes/wp-rig
!themes/wa-farm-2-schools

!plugins/.gitignore
!mu-plugins/crk-functionality-plugin.php
