@import "../../global/src/_custom-vars.css";

.wp-block-button {

	&.is-style-arrow-link {
		padding: 0;

		& .wp-block-button__link {
			background-color: transparent;
			padding: 0;
			color: var(--wp--preset--color--accent);
			font-weight: 700;
			font-family: var(--wp--preset--font-family--headings);
			text-align: left;
			text-transform: none;
			font-size: var(--font-size-cta);
			border: none;
			position: relative;
			display: flex;
			align-items: center;
			letter-spacing: 0;

			&::after {
				background-color: currentcolor;
				content: "";
				display: inline-block;
				height: 16px;
				width: 13px;
				margin-left: 6px;

				mask-image: url(../../images/cta_arrow.svg);
				mask-size: auto 16px;
				mask-repeat: no-repeat;
				mask-position: center right;
				transform-origin: left;
				will-change: transform;
				transition: all 0.2s ease-in-out;
			}

			&:hover {
				box-shadow: none !important;
				transform: none;
				text-decoration: none;

				&::after {
					transform: translateX(5px);
				}
			}

		}
	}
	&.is-style-down-arrow {
		& .wp-block-button__link {
			font-size: 0;
			border: none;

			&::after {
				background-color: currentcolor;
				content: "";
				display: inline-block;
				height: 40px;
				width: 40px;

				mask-image: url(../../images/arrow-down.svg);
				mask-size: 40px auto;
				mask-repeat: no-repeat;
				mask-position: center center;
				transform-origin: top;
				will-change: transform;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				color: var(--wp--preset--color--accent);
				background-color: transparent;
				&::after {
					transform: translateY(7px);
				}
			}
		}
	}
}


@media screen and (max-width: 599px) {

	.wp-block-buttons.mobile-left {
		justify-content: flex-start !important;
	}
}
