@import "../../global/src/_custom-vars.css";
@import "../../global/src/_custom-media.css";
/* stylelint-disable selector-class-pattern */
.wp-block-cover {
	padding: 0;

	& .wp-block-columns {
		margin-bottom: 0;
	}

	& .wp-block-embed {
		min-height: 0;
	}

	& .wp-block-cover__inner-container {
		z-index: 3;
		margin-right: auto;
		margin-left: auto;
	}

	& .cover-photo-credit {
		position: absolute;
		margin-bottom: 0;
		bottom: 10px;
		right: 10px;
		font-size: var(--font-size-caption);
		font-style: italic;
		font-weight: var(--font-weight-light);
	}
	&.alignfull {
		padding: $spacingDefault 0;
	}
}

.wp-block-cover.is-style-video-background {
	min-height: 350px;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.wp-block-cover.is-style-page-header {
	height: 66vw;
	min-height: 350px !important;
	max-height: 600px;
	margin-bottom: 0;
	position: relative;
}

.wp-block-cover .wp-block-pullquote {
	padding-left: 2rem;
	padding-right: 2rem;
}
@media (--tablet-up) {

	.wp-block-cover {

		&.has-custom-content-position {
			display: flex;

			& .wp-block-cover__inner-container {
				max-width: calc(var(--content-width-wide) / 2);
			}
		}
	}
}

@media (--desktop-up) {

	.wp-block-cover {

		&.has-custom-content-position {
			display: flex;

			& .wp-block-cover__inner-container {
				max-width: calc(var(--content-width-wide) / 3);
			}
		}

	}


	.wp-block-cover .wp-block-pullquote {
		padding-left: 3.125rem;
		padding-right: 3.125rem;
	}
}
