.footer-main > .wp-block-group,
.page-content > .wp-block-group {


	.wp-block-group {

		&.is-content-justification-center {
			text-align: center;
		}
	}

}

.wp-block-group {
	&.is-style-equal-height {
		height: 250px;
		width: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: relative;
		margin: 0 auto;
		padding: 1rem;
		& > * {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&.page-intro,
	&.is-style-page-intro {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (max-width: 780px) {

	.wp-block-group {
		&.is-style-half-tone {
			padding-top: var(--wp--preset--spacing--70);
			padding-bottom: var(--wp--preset--spacing--70);
			background-color: var(--wp--preset--color--secondary);

			& > * {
				color: #fff !important;
			}
			& a {
				color: #fff !important;

				&:hover {
					color: #fff !important;
				}
			}
		}
	}
}

@media (min-width: 781px) {

	.wp-block-group {
		&.is-style-half-tone {
			padding-top: var(--wp--preset--spacing--50);
			background: linear-gradient(to bottom, var(--wp--preset--color--secondary) 43.33%, #fff 43.33%);
		}
		&.page-intro,
		&.is-style-page-intro {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}
