/* stylelint-disable selector-class-pattern */
@import "../../global/src/_custom-vars.css";
@import "../../global/src/_custom-media.css";

.wp-block-media-text {
	gap: var(--wp--preset--spacing--70);
	grid-template-columns: 1fr 1fr;

	&.is-style-stacked {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);
		&.is-image-fill-element {
			& .wp-block-media-text__media {
				min-height: auto;
			}
		}
	}
	&.is-style-stacked-icon {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);
		& .wp-block-media-text__media {
			height: 115px;
			& img {
				object-fit: contain;
				height: 100%;
				width: auto;
			}
		}
	}
	&.is-image-fill-element {
		& .wp-block-media-text__media img {
			aspect-ratio: 1.3333;
			position: relative;
			height: auto;
		}
	}
	&.is-style-side-icon {
		& .wp-block-media-text__media {
			& img {
				max-width: 150px;
				margin: 0 auto;
			}
		}
	}

	& .wp-block-media-text__content {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--30);
		& p, & .wp-block-heading {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}

.page-content > .wp-block-media-text {
	max-width: 100%;

	padding: 0 var(--gutter-width-page);
	&.alignwide {
		max-width: 100%;
		padding-left: var(--gutter-width-page-wide);
		padding-right: var(--gutter-width-page-wide);
	}

	& .wp-block-media-text__content {
		padding: 0;
	}

	&.has-background {
		padding-top: var(--wp--preset--spacing--70);
		padding-bottom: var(--wp--preset--spacing--70);
	}

	&.alignfull {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		& .wp-block-media-text__content {
			padding: 0 var(--gutter-width-page-wide);
		}
	}

}


[class*="wp-block"] .wp-block-media-text {

	& .wp-block-media-text__content {
		padding: 0;
	}
}

@media (--tablet-small-up) {
	.wp-block-media-text {
		gap: var(--wp--preset--spacing--50);
		&.is-style-side-icon {
			grid-template-columns: 160px 1fr !important;
			& .wp-block-media-text__media {
				& img {
					max-width: 100%;
				}
			}
		}
	}

	.page-content > .wp-block-media-text {


		&.alignfull {
			padding-top: 0;
			padding-bottom: 0;
			gap: 0;

			& .wp-block-media-text__content {
				padding-top: var(--wp--preset--spacing--70);
				padding-bottom: var(--wp--preset--spacing--70);
				padding-left: var(--wp--preset--spacing--50);
				padding-right: var(--padding-responsive-wide);
			}

			&.is-image-fill-element {
				& .wp-block-media-text__media {
					& img {
						position: relative;
						height: 100%;
						min-height: 425px;
						width: 100%;
					}
				}

			}

			& .wp-block-media-text__media {
				padding-left: 0;
				padding-right: 0;
			}

			&.has-media-on-the-right {
				& .wp-block-media-text__content {
					padding-left: var(--padding-responsive-wide);
					padding-right: var(--wp--preset--spacing--50);
				}
				& .wp-block-media-text__media {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

	}
}
